.movies_container {
  margin-top: 2rem;
  padding: 8px 0;

  .load-more_btn {
    display: block;
    margin: 2rem auto 0;
  }

  .spiner_container {
    display: flex;
    justify-content: center;
  }
}