{
  "presets": [
    [
      "@babel/preset-react"
    ],
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "targets": {
          "browsers": ">1%, not dead, not ie 11, not op_mini all"
        }
      }
    ]
  ]
}
