.serch_container {
  margin: 0 auto;
  padding: 0.5rem 0;
  max-width: 95%;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: baseline;

  .input_box {
    width: 80%;
  }

  .form_btn {
    margin-left: 1rem;
    width: 20%;
    height: 100%;
  }
}

.filter_container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  max-width: 95%;

  .filter_title {
    text-transform: uppercase;
  }

  .filter_btn {
    width: 35%;
  }
}
